*{
    background-color: #ffedd8;
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #603808;
}

#pageTitle h1{
    color: #603808;
    background-color: #f3d5b5;
    height: 30px;
    width: auto;
    padding: 10px;
    text-align: center;
}

ul{
    list-style-type: none;
    padding: 10px;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
}

li{
    background-color: #f3d5b5;
    margin: 10px;
    width: 220px;
    text-align: center;
}


header{
    width: 100%;
}

hr{
    color: #d4a276;
}

#pageTitle p{
    background-color: #f3d5b5;
    text-align: center;
    padding: 10px;
}

nav{
    text-align: center;
    width: 20%;
    background-color: #f3d5b5;
    margin: 0px;
    border-right: solid #d4a276 2px;
}
main{
    width: 80%;
    background-color: #ffedd8
}
footer{
    height: 10px;
    text-align: right;
    padding: 5px;
}

#content{
    display: flex;
    flex:1;
}
a{
    background: none;
    text-decoration: none;
    color: #d4a276;
}

button{
    border: dotted #d4a276;
    color: #d4a276;
    padding: 5px;
    margin: 5px;
    width: 80px;
    height:40px;
}

#edit{
    border: dotted #d4a276;
    color: #d4a276;
    padding: 5px;
    margin: 5px;
    height:40px;
    background-color: #f3d5b5;
}
form{
    margin: 10px;
    background-color: #f3d5b5;
    font-size: small;
    padding: 10px;
}

img{
    height: 200px; 
    width: 200px; 
    margin: 5px;
}
input{
    margin: 5px;
}
textarea{
    margin: 5px;
}
select{
    margin: 5px;
}
#pokaz{
    margin: 10px;
    padding: 10px;
}
#mainbox{
    display: flex;
    position: relative;
}