<%- include('../partials/header') %>
<div id="content">
    <%- include('../partials/navi') %>
    <main>
        <h2>Coś poszło nie tak</h2>
        <p><%= message %></p>
        <a href="/">Wróć na stronę główną</a>
    </main>
</div>
<%- include('../partials/footer') %>